.slice--type--about{
	padding: 120px 0;

	p {
		line-height: 30px;
	}

	h2::after {
		bottom: 0;
		margin-left: 0;
		left: 0;
	}

	img {
		max-width: 550px;
		width: 100%;
	}

	.team-img {
		display: inline-block;
		position: relative;
	}
}