.slice--type--contact {
  /* Contact Section */
  padding: 100px 0;
  background: rgba(0, 0, 0, .3);


  .contact-item p {
    font-size: 15px;
    color: #aba8a8;
    margin-bottom: 10px;
  }

  .section-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  form {
    padding: 0;
  }

  h3, h4 {
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #aaa;
    padding: 20px 0;
    margin: 10px;
  }

  h3::after, h4::after{
    position: absolute;
    content: "";
    background: #d43031;
    height: 2px;
    width: 40px;
    bottom: 0;
    margin-left: -20px;
    left: 50%;
  }

  .text-danger {
    color: #cc0033;
    text-align: left;
  }

  label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #ccc;
    background-color: rgba(255, 255, 255, .2);
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .form-control:focus {
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
  }

  .form-control::-webkit-input-placeholder {
    color: #999;
  }

  .form-control:-moz-placeholder {
    color: #999;
  }

  .form-control::-moz-placeholder {
    color: #999;
  }

  .form-control:-ms-input-placeholder {
    color: #999;
  }

  textarea.form-control {
    
    min-height: 210px;
   
    @include media(">=tablet"){
      min-height: 105px;
    }
  }

  .contact-item {
    margin: 20px 0 40px 0;
  }

  .contact-item span {
    font-weight: 400;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: inline-block;
  }

}