.slice--type--menu {

  padding: 100px 0 60px 0;

	img {
		width: 300px;
		box-shadow: 15px 0 #a7c44c;
	}

	h3 {
		padding: 10px 0;
		text-transform: uppercase;
	}

	.subline{
		font-size: 17px;
		line-height: 24px;
		
		b::after{
			content: '\A';
			white-space: pre;  
		}
	}

	.menu-section {
		margin: 0 20px 20px;

		@include media(">=tablet"){
			margin: 0 20px 80px;
		}

		hr {
			margin: 0 auto;
		}

		.event-action{
			padding-bottom: 50px;
			text-align: center;
		}
	}

	.menu-section-title {
		font-size: 30px;
		display: block;
		font-weight: 300;
		color: #c7c7c7;
		margin: 100px 0px;
		text-align: center;
	}

	.menu-item {
		margin: 45px 0;
		font-size: 18px;
	}

	.menu-item-name {
		font-weight: 300;
		font-size: 22px;
		color: #fff;
		margin-bottom: 12px;
		line-height: 28px;

		p {
			font-size: inherit;
			color: #fff;
			margin: 0;
		}
	}

	.menu-item-description {
		font-size: 15px;
		width: 95%;
		line-height: 28px;
	}

	.menu-item-price {
		float: right;
		font-weight: 400;
		color: #555;
		margin-top: -36px;
	}
	
	.flex-row{
		> *{
			width: 100%;

			@include media(">=tablet"){
				width: 50%;
			}

			@include media(">=desktop"){
				width: 40%;

			}
		}
	}


}
