.slice--type--header {

	header {

		/* Header Section */
		.intro {
			display: table;
			width: 100%;
			padding: 0;
			background: center center no-repeat;
			background-color: transparent;
			background-position-x: 70%;
			background-size: auto 100%;
			animation-name: zoomInCustom;
			animation-duration: 10s;
			animation-iteration-count: unset;
			background-size: auto 100%;

			@include media(">=1860px"){
				background-position-x: 0%;
				height: calc(100vw * .52);
			}
		}



		@keyframes zoomInCustom {
			from {
				background-size: auto 140%;
			}

			to {
				background-size: auto 100%;
				/*background-size: 800%;*/
			}
		}

		.intro .overlay {
			animation-name: fadeInCustom;
			animation-duration: 10s;
			animation-iteration-count: unset;
			height: 100%;

			@include media("<tablet"){
				background: rgba(0, 0, 0, 0.5) !important;
			}
		}



		@keyframes fadeInCustom {
			from {
				background: rgba(0, 0, 0, 0.8);
			}

			to {
				background: rgba(0, 0, 0, 0.1);
			}
		}



		.intro h1 {
			color: #fff;
			font-size: 5em;
			font-weight: 400;
			margin-top: 0;

			@include media(">=tablet"){
				font-size: 10em;
			}
		}

		.intro span {
			color: #fff;
			font-weight: 500;
			display: block;
			position: relative;
			font-size: smaller;
			top: -30px;
			padding-left: 100px;
		}

		.intro span:after {
			position: absolute;
			content: "";
			background: #962e2e;
			height: 7px;
			width: 350px;
			bottom: -4px;
			margin-left: -346px;

			@include media(">=tablet"){
				width: 400px;
				margin-left: -326px;
			}
		}

		.intro p {
			color: #fff;
			font-size: 17px;
			font-weight: 300;
			margin-top: 150px;
			margin-bottom: 50px;
			text-transform: uppercase;
			letter-spacing: 7px;
			text-align: left;
			padding-left: 30px;
		}


		.intro-text {
			padding-top: 260px;
			padding-bottom: 0px;
			padding-left: 25px;
			text-align: left;

			@include media(">=tablet"){
				padding-top: 400px;
			}

			.title::before {
				background: #962e2e;
				position: absolute;
				height: 3px;
				width: 3px;
		
			}

			.subline {
				i {
					font-weight: bold;
					font-style: normal;
				}
			}
		}
	}
	
}