
/* Features Section */
.slice--type--services {
	padding: 120px 0;

	@include media("<tablet"){
		padding: 60px 0;
	}

	.title{
		font-size: 26px;
		padding: 10px 0;
	}

	.features-item {
		margin: 0;
		font-size: 18px;
		line-height: 27px;
		color: #b1b1b1;

		@include media(">=tablet"){
			margin: 0 20px;
		}
	}
	
	img {
		margin: 30px auto 20px;
	}
	
	.about-img:before {
		display: block;
		content: '';
		position: absolute;
		top: 8px;
		right: 8px;
		bottom: 8px;
		left: 8px;
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
	
	 p {
		font-size: 18px;
		line-height: 27px;
		color: #b1b1b1;
	}
	
	.row>div {
		padding: 0;

		@include media("<tablet"){
			margin-bottom: 65px;
		}
	}
}
