/* Story Block */
.slice--type--story-block {

	padding: 0;
	background: #f6f6f6;

	h2::after {
		bottom: 0;
		margin-left: 0;
		left: 0;
	}

	.about-text {
		padding: 60px 0;
	}

	.about-text h2 {
		color: #000000;
		font-weight: 100;
	}

	.about-img {
		background: #444 center center no-repeat;
		background-size: cover;
		height: 570px;
	}

	p {
		line-height: 30px;
		margin: 15px 0 30px;
		color: #000000;
		font-size: 18px;
	}


}