body,
html {
	font-family: 'Open Sans', serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #aba8a8;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
	font-size: 16px;
}

body{
	background: #1a1717 url(./../img/body-bg.jpg) left top repeat-y;
	background-size: 50%;
}

h1,
h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 45px;
	color: #9a4a4a;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
	font-weight: 100;

	@include media(">=tablet"){
		font-size: 65px;
	}
}

h2::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}

h3 {
	font-size: 23px;
	font-weight: 300;
	color: #b1b1b1;
	letter-spacing: 1px;
	
	@include media(">=desktop"){
		font-size: 30px;
	}
}

h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p {
	font-size: 18px;
	margin: 0 0 20px;
}

p.intro {
	margin: 12px 0 0;
	line-height: 32px;
}

a {
	color: #8eb640;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #222;
}

ul,
ol {
	list-style: none;
}

ul,
ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
.btn{
	max-width: 100%;
	white-space: normal;
}
.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Navigation */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}
.navbar{
	.brand-name{
		font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
    padding-left: 20px;
		opacity: 0;

		@include media(">=tablet"){
			display: none !important
		}
	}

	&.on .brand-name{
		opacity: 1;
	}
}

#main-menu {
	padding: 20px;
	transition: all 0.8s;
	@include media("<tablet"){
	//	height: 100%;
	}
}

#main-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}

#main-menu.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	color: #eee;
	font-weight: 200;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 0 30px 0 30px;

	@include media("<tablet"){
		font-weight: 600 !important;
	}

	@include media(">=desktop"){
		margin: 0 40px 0 40px;
	}
}

#main-menu.navbar-default .navbar-nav>li>a:hover {
	color: #d43031;
}

.on {
	background-color: rgb(29, 25, 26) !important;
	padding: 0 !important;
	padding: 10px 0 !important;

	
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #d43031 !important;
	background-color: transparent;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #d43031;
	border-color: #d43031;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

.section-title {
	margin-bottom: 70px;
}

.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}

.section-title p {
	font-size: 22px;
}

.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}

.btn-custom {
	text-transform: uppercase;
	color: #aba8a8;
	background-color: transparent;
	border: 2px solid #777;
	padding: 14px 20px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.3s;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
	color: #ddd;
	border: 2px solid #d43031;
	background-color: #d43031;
}




/* Footer Section*/
#footer {
	background: #262626;
	padding: 40px 0 20px 0;

	.social {
		margin-top: -5px;
		text-align: right;

		ul{
			@include media("<tablet"){
				text-align: center;
			}
		}

		ul li {
			display: inline-block;
			margin: 0 15px;
		}
		
		i.fa {
			font-size: 24px;
			padding: 4px;
			color: #888;
			transition: all 0.3s;
		}
		
		i.fa:hover {
			color: #eee;
		}
	}
	
	
	p {
		font-size: 14px;
		color: #666;
	}
	
	a {
		color: #999;
	}
	
	a:hover {
		color: #eee;
	}
	
	.sub-nav{
		@include media("<tablet"){
			display: block;
		}
	}
	
}


.btn-xl {
	padding: 16px 22px;
	font-size: 26px;
	border-radius: 0px;
}
.app-loader{
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1000;
	transform: translate(-60px, -50px);
}

.flex-row{
	justify-content: space-evenly;
	flex-wrap: wrap;
	display: flex;
}

form{
	.form-err{
    text-transform: uppercase;
    color: #d43031;
		font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
	}

	.form-actions-wrapper{
		text-align: center;
	}
	.form-validation-message-wrapper{
		text-align: center;
		padding: 20px;

		> .form-success{
			font-size: 29px;
			opacity: .5;
		}
	}
}

.app-wrapper[data-page-type="404"]{
	.container-inner{
		max-width: 250px;
    margin: auto;
    height: 200px;
    padding: 200px 0;
    text-align: center;
	}

	.page-title{
		font-size: 70px;
    letter-spacing: 0px;
	}
}

.ico-prismic{
	width: 29px;
	height: 32px;
	display: inline-block;
	background: url(./../img/prismic-logo.svg) no-repeat;
	background-size: auto 22px;
	position: relative;
	top: 13px;
	opacity: .5;
	transition: all 0.3s;

	&:hover{
		opacity: 1;
	}
}